<?xml version='1.0'?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xlink="http://www.w3.org/1999/xlink" xml:lang="en">
  <html>
    <head>
      <title>{{page.title}}</title>
    </head>
    <body>
      <h1>{{page.title}}</h1>
      <div class="head">
        <p>{{page.date}}</p>
      </div>
      <div id="toc">
        <h2>Table of contents</h2>
      	<ol>
      		<li><a href="#intro">Introduction</a></li>
      		<li><a href="#related.resources">Resources</a></li>
      	</ol>
      </div>
      <div id="intro">
        <h2>Introduction</h2>
        <p>This document describes the {{page.title}} namespace.</p>
      </div>
      <div id="related.resources">
        <h2>Schemas for {{page.title}}</h2>
        <div class="resource">
          <h2>{{page.title}}</h2>
          <p>An <a href="{{page.document}}.xsd">{{page.title}} schema document</a> for {{page.title}}
            schema documents.  Last updated with release of {{page.title}} {{page.short_date}}.</p>
        </div>
      </div>
  </body>
</html>